<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
        <style>
            html, body, .container {
                height: 100%;
            }

            body {
                padding: 0px;
                margin: 0px;
                background-color: #5C5C5C;
            }

            #main-container {
                padding: 0px;
                margin: 0px;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
            }

            #main-row {
                width: 100%;
                height: calc(100% - 56px);
                padding: 0;
                margin: 0;
            }

            .row {
                width: 100%;
            }

            .notesNav {
                height: 100%;
            }

            .row .no-float {
                display: table-cell;
                float: none;
            }

            .no-marg-pad {
                margin: 0px;
                padding: 0px;
            }

            #nav-row {
                padding: 0;
                margin: 0;
            }

            .card-body {
                margin: 5px;
            }

            .main-card {
                margin: 30px;
                padding: 15px;
                background-color: #5C5C5C;
                color: rgba(255,255,255,.5);
                border-color: rgba(0,0,0,.5);
            }

            .space {
                margin-left: 8px;
            }

            #current_patient_name {
                color: white;
                margin-right: 8px;
                margin-left: 8px;
            }

            #modal-form-input-box {
                width: 100%;
            }

            @media(max-width: 991px) {
                .col-lg-2 {
                    visibility: hidden;
                    height: 0px;
                    width: 0px;
                }

                .col-sm-10 {
                    width: 100%;
                    left: 0px;
                }
            }
        </style>
        
        <script type="text/javascript" src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
        <script type="text/javascript" src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
    </head>
    <body>
        <div class="container-fluid" id="main-container">
            <div class="row" id="nav-row">
                <div class="col-sm-12 no-float no-marg-pad p-0">
                    <nav class="navbar navbar-expand-sm navbar-dark bg-dark affix-top">
                        <span class="navbar-brand">PhysPro</span>
            
                        <ul class="navbar-nav mr-auto"></ul>

                        <form class="form-inline" id="nav-search-input">
                            <small id="current_patient_name">No Patient Selected</small>
                            <div class="input-group">
                                <div class="input-group-prepend">
                                    <span class="input-group-text">Patients</span>
                                </div>
                                <input type="text" class="form-control" name="search-input-box">
                            </div>

                            <span class="space"></span> <button data-toggle="tooltip" title="Search for a patient" class="btn btn-secondary" type="submit" value="search">Search</button> 
                            <span class="space"></span> <button data-toggle="tooltip" title="Create a patient entry" class="btn btn-secondary" type="reset" value="create">Create</button>
                        </form>
                    </nav>
                </div>
            </div>
            <div class="row">
                <div class="col-md-1"></div>

                <div class="col-md-6">
                    <div class="card main-card">
                        <h3 class="card-body">PhysPro 1.0 Release News</h3>
                        <p class="card-body">Initial Release</p>
                        <p class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                        <p class="card-body">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                    </div>
                </div>

                <div class="col-md-4">
                    <div class="card main-card">
                        <h3 class="card-body">Current Issues</h3>
                        <table class="table card-body" id="ticket-table">
                            <thead>
                                <tr>
                                    <th>Ticket</th>
                                    <th>Issue</th>
                                    <th>Reporter</th>
                                </tr>
                            </thead>
                            <tbody>

                            </tbody>
                        </table>
                        <button class="btn btn-secondary" style="margin-top: 10px;" data-toggle="tooltip" data-placement="bottom" title="Add a new trouble ticket" id="create-tc-button" onclick="activateTCForm();">Add Ticket</button>
                    </div>
                </div>

                <div class="col-md-1"></div>
            </div>
        </div>

        <!-- TC Modal -->
        <div id="tc-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">

                <!-- Modal content-->
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Trouble Ticket/Feature Request</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Please input information below.</p>
                        <input class="modal-form-input-box" id="tc-information-box" />
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-success" data-dismiss="modal" onclick="submitTC();">Submit</button>
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

        <div id="add-patient-modal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Create a New Patient</h4>
                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                        <p>Please fill out all fields.</p>
                        <p>Patient Name</p>
                        <input class="modal-form-input-box" id="patient-name-box" />

                        <p>Patient Phone Number</p>
                        <input class="modal-form-input-box" id="patient-phone-box" />

                        <p>Patient Address</p>
                        <input class="modal-form-input-box" id="patient-address-box" />

                        <div class="modal-footer">
                            <button type="button" class="btn btn-success" data-dismiss="modal" onclick="submitNewPatient();">Submit</button>
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.slim.js"></script>
        <script type="text/javascript">
            var activateTCForm = function() {
                $("#tc-modal").modal({ backdrop: "static" });
            };

            var submitTC = function() {
                var TCInformationBox = $('#tc-information-box');

                if (TCInformationBox.val() === "") {
                    alert('Invalid information entered into TC information field.');
                }
                else {
                    socket.emit('submitTroubleTicket', {
                        text: TCInformationBox.val()
                    });
                }
            };

            var submitNewPatient = function() {
                var nameInputBox = document.getElementById('patient-name-box');
                var phoneInputBox = document.getElementById('patient-phone-box');
                var addressInputBox = document.getElementById('patient-address-box');

                if (nameInputBox.val() === ""   || 
                    phoneInputBox.val() === ""  ||
                    addressInputBox.val() === "") {
                    
                    alert('Not all form fields are filled out. Please fill out all form fields before submitting.');
                }
                else {
                    socket.emit('submitNewPatientForm', {
                        name: nameInputBox.val(),
                        phone: phoneInputBox.val(),
                        address: addressInputBox.val()
                    });
                }
            };

            var socket = io();

            socket.on('connect', function(error) {
                if (error) {
                    alert(error);
                }
                else {
                    socket.emit('requestTCs');
                }
            });

            socket.on('disconnect', function() {});

            socket.on('ticketReceived', function(ticket) {
                var table = document.getElementById('ticket-table');
                var tableRow = table.insertRow();
                var ticketNumberCell = tableRow.insertCell(0);
                var informationCell = tableRow.insertCell(1);
                var reporterCell = tableRow.insertCell(2);

                ticketNumberCell.innerHTML = ticket.ticketNumber;
                informationCell.innerHTML = ticket.information;
                reporterCell.innerHTML = ticket.client;
            });

            $('#nav-search-input').on('submit', function(e) {
                e.preventDefault();

                var searchTextBox = $('[name=search-input-box]');

                if (searchTextBox.val() === "") {
                    alert('Please enter a value into the field to the left.');
                }
                else {
                    socket.emit('performSearch', {
                        text: searchTextBox.val()
                    });
                }
            });

            $('#nav-search-input').on('reset', function(e) {
                e.preventDefault();

                var searchTextBox = $('[name=search-input-box]');

                if (searchTextBox.val() === "") {
                    alert('Please enter a value into the field to the left.');
                }
                else {
                    socket.emit('performCreate', {
                        text: searchTextBox.val(),
                    });
                }
            });

            $('[data-toggle="tooltip"]').tooltip();  
        </script>
    </body>
</html>