body {
    font-family: Arial, Helvetica, sans-serif;
}

#log-table {
    border: 1pt solid black;
    width: 100%;
}

th {
    border: 1pt solid black;
}

td {
    border-bottom: 1pt dashed black;
}

.header {
    text-style: bold;
}